.calculator-button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--text-size-button);

  background-color: var(--color-button);
  color: var(--color-text);

  border: 1px solid var(--color-button-hover);
  border-radius: 0.7rem;

  cursor: pointer;

  transition:
    background-color 0.3s ease,
    transform 0.1s ease;
}
.calculator-button:hover {
  background-color: var(--color-button-hover);
}
.calculator-button:active,
.calculator-button.is-keyboard-pressed {
  background-color: var(--color-button-hover);
  transform: scale(0.97);
}

.calculator-button--operation {
  background-color: var(--color-operator);
  border-color: var(--color-operator-hover);
}
.calculator-button--operation:hover,
.calculator-button--operation.is-keyboard-pressed {
  background-color: var(--color-operator-hover);
}

.calculator-button--clear {
  background-color: var(--color-danger);
  border-color: var(--color-danger-hover);
}
.calculator-button--clear:hover,
.calculator-button--clear.is-keyboard-pressed {
  background-color: var(--color-danger-hover);
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: var(--color-calculator);
  padding: 2rem;

  max-width: 70rem;

  border: 2px solid var(--color-button-hover);
  border-radius: 2.2rem;

  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
}
.calculator__buttons-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(7rem, 1fr));
  grid-auto-rows: 10rem;
  gap: 1rem;
}

.calculator__display {
  border: 2px solid var(--color-button-hover);
  border-radius: 2.2rem;
  padding: 2rem;
  text-align: end;
  font-size: var(--text-size-display);
}

.span-2-columns {
  grid-column: span 2;
}

.calculator__instructions {
  border-collapse: collapse;
  table-layout: fixed;

  font-size: 1.3rem;
  line-height: 1.6;
  text-align: justify;
  text-align-last: center;
  color: #94a3b8;

  @media (max-width: 400px) {
    display: none;
  }
}
.calculator__instructions tbody {
  display: grid;
  grid-auto-rows: 1fr;

  border: 1px solid rgba(148, 163, 184, 0.2);
  border-radius: 1rem;
}
.calculator__instructions tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 1rem 0;
}
.calculator__instructions tr:not(:first-child) {
  border-top: 1px solid rgba(148, 163, 184, 0.2);
}
.calculator__instructions td {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calculator__instructions strong {
  font-size: 1.6rem;
  color: var(--color-text);
}
